Repository countneuroman/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend, sonarqube-backend-sast, build-backend-image, deploy-backend-blue-green, telegram-notification-backend, build-frontend, sonarqube-frontend-sast, upload-frontend-artifact, deploy-frontend, telegram-notification-frontend, deploy-minio

Path conditions:
  backend: any of: backend/**/*
  frontend: any of: frontend/**/*
  sonarqube-backend-sast: any of: backend/**/*
  build-backend-image: any of: backend/**/*
  deploy-backend-blue-green: any of: backend/**/*
  telegram-notification-backend: any of: backend/**/*
  build-frontend: any of: frontend/**/*
  sonarqube-frontend-sast: any of: frontend/**/*
  upload-frontend-artifact: any of: frontend/**/*
  deploy-frontend: any of: frontend/**/*
  telegram-notification-frontend: any of: frontend/**/*
  deploy-minio: any of: minio/**/*

Конфигурация сосисочной для k8s
  .gitlab/kubernetes/backend-report/configuration/deployment.yml
  .gitlab/kubernetes/backend-report/configuration/kustomization.yml
  .gitlab/kubernetes/backend-report/configuration/secrets.yml
  .gitlab/kubernetes/backend-report/configuration/service.yml
  .gitlab/kubernetes/backend/configuration/configmap.yml
  .gitlab/kubernetes/backend/configuration/deployment.yml
  .gitlab/kubernetes/backend/configuration/kustomization.yml
  .gitlab/kubernetes/backend/configuration/secrets.yml
  .gitlab/kubernetes/backend/configuration/service.yml
  .gitlab/kubernetes/frontend/configuration/configmap.yml
  .gitlab/kubernetes/frontend/configuration/deployment.yml
  .gitlab/kubernetes/frontend/configuration/kustomization.yml
  .gitlab/kubernetes/frontend/configuration/service.yml
  .gitlab/kubernetes/secrets.yml
  backend/pom.xml
  backend/src/main/resources/application.properties
  docker-compose-prod.yml
  frontend/Dockerfile
Due: backend, frontend, sonarqube-backend-sast, build-backend-image, deploy-backend-blue-green, telegram-notification-backend, build-frontend, sonarqube-frontend-sast, upload-frontend-artifact, deploy-frontend, telegram-notification-frontend

Добавлен ingress для сосисочной и деплой в k8s
  .gitlab/ci/backend-report.gitlab-ci.yml
  .gitlab/ci/backend.gitlab-ci.yml
  .gitlab/ci/frontend.gitlab-ci.yml
  .gitlab/ci/templates/deploy_to_kubernetes.yml
  .gitlab/kubernetes/backend-report/configuration/deployment.yml
  .gitlab/kubernetes/backend-report/configuration/kustomization.yml
  .gitlab/kubernetes/backend-report/configuration/secrets.yml
  .gitlab/kubernetes/backend-report/configuration/service.yml
  .gitlab/kubernetes/backend/configuration/configmap.yml
  .gitlab/kubernetes/backend/configuration/deployment.yml
  .gitlab/kubernetes/backend/configuration/kustomization.yml
  .gitlab/kubernetes/backend/configuration/secrets.yml
  .gitlab/kubernetes/backend/configuration/service.yml
  .gitlab/kubernetes/frontend/configuration/configmap.yml
  .gitlab/kubernetes/frontend/configuration/deployment.yml
  .gitlab/kubernetes/frontend/configuration/kustomization.yml
  .gitlab/kubernetes/frontend/configuration/service.yml
  .gitlab/kubernetes/secrets.yml
  .gitmodules
  backend-report/README.md
Due: none

Добавил зависимость деплоя в кубер
  .gitlab/ci/backend.gitlab-ci.yml
  .gitlab/ci/frontend.gitlab-ci.yml
Due: none

Добавил описание multicloud архитектуры
  Architecture/Multicloud/Multicloud-ADR.md
  Architecture/Multicloud/Один балансировщик, независимые БД.png
  Architecture/Multicloud/Один балансировщик, распределенная БД.png
  Architecture/Multicloud/Полностью независимые регионы без общей балансировки.png
  docker-compose-dev.yml
Due: none

Prometheus metrics added
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/service/BusinessMetricsService.java
  backend/src/main/java/com/yandex/practicum/devops/service/OrderServiceImpl.java
  backend/src/main/resources/application.properties
Due: backend, sonarqube-backend-sast, build-backend-image, deploy-backend-blue-green, telegram-notification-backend

Включил метрики jvm да и остальное тожа, хаха
  backend/src/main/resources/application.properties
Due: backend, sonarqube-backend-sast, build-backend-image, deploy-backend-blue-green, telegram-notification-backend

Убрал лишние определения метрик
  backend/src/main/resources/application.properties
Due: backend, sonarqube-backend-sast, build-backend-image, deploy-backend-blue-green, telegram-notification-backend

Обновил spring версию
  backend/pom.xml
Due: backend, sonarqube-backend-sast, build-backend-image, deploy-backend-blue-green, telegram-notification-backend

Убрал явное указание версии flyway
  backend/pom.xml
Due: backend, sonarqube-backend-sast, build-backend-image, deploy-backend-blue-green, telegram-notification-backend

Пробуем другую версию flyway
  backend/pom.xml
Due: backend, sonarqube-backend-sast, build-backend-image, deploy-backend-blue-green, telegram-notification-backend

Пробуем поставить последнюю версию
  backend/pom.xml
Due: backend, sonarqube-backend-sast, build-backend-image, deploy-backend-blue-green, telegram-notification-backend

Обновляем Spring До 3 версии
  backend/pom.xml
Due: backend, sonarqube-backend-sast, build-backend-image, deploy-backend-blue-green, telegram-notification-backend

Пробуем другие версии зависимостей
  backend/pom.xml
Due: backend, sonarqube-backend-sast, build-backend-image, deploy-backend-blue-green, telegram-notification-backend

Меняю зависимость flywaydb
  backend/pom.xml
Due: backend, sonarqube-backend-sast, build-backend-image, deploy-backend-blue-green, telegram-notification-backend

Пробую еще поднять версию спринга
  backend/pom.xml
Due: backend, sonarqube-backend-sast, build-backend-image, deploy-backend-blue-green, telegram-notification-backend

Пробую сменить версию spring
  backend/pom.xml
Due: backend, sonarqube-backend-sast, build-backend-image, deploy-backend-blue-green, telegram-notification-backend

Сменил версию микромерта
  backend/pom.xml
Due: backend, sonarqube-backend-sast, build-backend-image, deploy-backend-blue-green, telegram-notification-backend

Включил histogram метрику
  backend/src/main/resources/application.properties
Due: backend, sonarqube-backend-sast, build-backend-image, deploy-backend-blue-green, telegram-notification-backend
