Repository countneuroman/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, sonarqube-backend-sast, telegram-notification-backend, build-frontend, sonarqube-frontend-sast, telegram-notification-frontend

build-backend:
  stage: build
  script:
  - cd backend
  - mvn package -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository
  artifacts:
    paths:
    - .m2/
    - backend/target/sausage-store-0.0.1-SNAPSHOT.jar

sonarqube-backend-sast:
  stage: test
  image: maven:3.8-openjdk-16
  variables:
    SONAR_USER_HOME: ${CI_PROJECT_DIR}/.sonar
    GIT_DEPTH: '0'
  cache:
    key: ${CI_JOB_NAME}
    paths:
    - .sonar/cache
  script:
  ...

telegram-notification-backend:
  stage: notify
  variables:
    NOTIFICATION: $SEND_TELEGRAM_MESSAGE
    ARTIFACT_JOB_NAME: build-backend
    APP_NAME: backend
  needs:
  - sonarqube-backend-sast
  - spotbugs-sast

build-frontend:
  stage: build
  script:
  - cd frontend
  - npm install
  - npm run build
  artifacts:
    paths:
    - frontend/dist/frontend

sonarqube-frontend-sast:
  stage: test
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  variables:
    SONAR_USER_HOME: ${CI_PROJECT_DIR}/.sonar
    GIT_DEPTH: '0'
  cache:
    key: ${CI_JOB_NAME}
    paths:
    - .sonar/cache
  script:
  ...

telegram-notification-frontend:
  stage: notify
  variables:
    NOTIFICATION: $SEND_TELEGRAM_MESSAGE
    ARTIFACT_JOB_NAME: build-frontend
    APP_NAME: frontend
  needs:
  - sonarqube-frontend-sast

Reporting available now
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
  backend/src/main/resources/log4j2.yml
  backend/src/main/resources/logback.xml
  backend/src/test/java/com/yandex/practicum/devops/task/ReportGeneratorTaskTest.java
Due: build-backend, sonarqube-backend-sast, telegram-notification-backend

Добавил опцию билда в production mode
  .gitlab/ci/frontend.gitlab-ci.yml
  frontend/package.json
Due: build-frontend, sonarqube-frontend-sast, telegram-notification-frontend

Убрал билд в production mode
  .gitlab/ci/frontend.gitlab-ci.yml
Due: none

Добавил загрузку артефактов в Nexus
  .gitlab-ci.yml
  .gitlab/ci/backend.gitlab-ci.yml
  .gitlab/ci/frontend.gitlab-ci.yml
  backend/pom.xml
  backend/settings.xml
  frontend/src/index.html
Due: build-backend, sonarqube-backend-sast, telegram-notification-backend, build-frontend, sonarqube-frontend-sast, telegram-notification-frontend

Infra/fix backend version
  .gitlab/ci/backend.gitlab-ci.yml
  .gitlab/ci/frontend.gitlab-ci.yml
  backend/pom.xml
Due: build-backend, sonarqube-backend-sast, telegram-notification-backend

Добавил деплой
  .gitlab/ci/backend.gitlab-ci.yml
  .gitlab/ci/frontend.gitlab-ci.yml
  .gitlab/deployScripts/backend_deploy.sh
  .gitlab/deployScripts/frontend_deploy.sh
  backend/pom.xml
Due: build-backend, sonarqube-backend-sast, telegram-notification-backend

Reporting available now
  backend/pom.xml
Due: build-backend, sonarqube-backend-sast, telegram-notification-backend

Revert "Reporting available now"
  backend/pom.xml
Due: build-backend, sonarqube-backend-sast, telegram-notification-backend

Changed DB to PostgreSQL
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/model/OrderProduct.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: build-backend, sonarqube-backend-sast, telegram-notification-backend

Добавил миграции Flyway
  .gitlab/ci/backend.gitlab-ci.yml
  backend/pom.xml
  backend/src/main/resources/db/migration/V001__create_tables.sql
  backend/src/main/resources/db/migration/V002__insert_data.sql
  backend/src/main/resources/db/migration/V003__create_index.sql
Due: build-backend, sonarqube-backend-sast, telegram-notification-backend

Added MongoDB integration
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: build-backend, sonarqube-backend-sast, telegram-notification-backend

Интеграция MongoDB для отчетов
  .gitlab/ci/backend.gitlab-ci.yml
  .gitlab/deployScripts/backend_deploy.sh
  backend/sausage-backend@.service
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
Due: build-backend, sonarqube-backend-sast, telegram-notification-backend

Добавил заготовку под dotnet версию
  backend-dotnet/.dockerignore
  backend-dotnet/SausageApplication.sln
  backend-dotnet/SausageApplication/Controllers/OrderController.cs
  backend-dotnet/SausageApplication/Controllers/ProductController.cs
  backend-dotnet/SausageApplication/Dockerfile
  backend-dotnet/SausageApplication/Infrastructure/SausageContext.cs
  backend-dotnet/SausageApplication/Migrations/20231224073258_InitialCreate.Designer.cs
  backend-dotnet/SausageApplication/Migrations/20231224073258_InitialCreate.cs
  backend-dotnet/SausageApplication/Migrations/SausageContextModelSnapshot.cs
  backend-dotnet/SausageApplication/Models/Order.cs
  backend-dotnet/SausageApplication/Models/OrderProduct.cs
  backend-dotnet/SausageApplication/Models/Product.cs
  backend-dotnet/SausageApplication/Program.cs
  backend-dotnet/SausageApplication/Properties/launchSettings.json
  backend-dotnet/SausageApplication/SausageApplication.csproj
  backend-dotnet/SausageApplication/SausageApplication.http
  backend-dotnet/SausageApplication/Services/ProductService.cs
  backend-dotnet/SausageApplication/appsettings.Development.json
  backend-dotnet/SausageApplication/appsettings.json
  docker-compose.yml
Due: none

WIP
  backend-dotnet/README.md
  backend-dotnet/SausageApplication.sln
  backend-dotnet/SausageApplication/Controllers/OrderController.cs
  backend-dotnet/SausageApplication/Dto/OrderForm.cs
  backend-dotnet/SausageApplication/Dto/OrderProductDto.cs
  backend-dotnet/SausageApplication/Infrastructure/SausageContext.cs
  backend-dotnet/SausageApplication/Models/OrderStatus.cs
  backend-dotnet/SausageApplication/Program.cs
  backend-dotnet/SausageApplication/SausageApplication.csproj
  backend-dotnet/SausageApplication/SausageApplication.http
  backend-dotnet/SausageApplication/Services/OrderService.cs
  backend-dotnet/SausageApplication/Services/ProductService.cs
  docker-compose.yml
Due: none

WIP
  backend-dotnet/SausageApplication/Controllers/OrderController.cs
  backend-dotnet/SausageApplication/Services/OrderService.cs
Due: none

Добавил указание количества продукта в запись заказа в БД
  backend-dotnet/SausageApplication/Services/OrderService.cs
Due: none

Добавлена заготовка для фронта
  docker-compose.yml
  frontend/Dockerfile
Due: build-frontend, sonarqube-frontend-sast, telegram-notification-frontend

Интеграция Docker
  .gitlab/ci/backend.gitlab-ci.yml
  .gitlab/ci/frontend.gitlab-ci.yml
  .gitlab/ci/templates/build_image.yml
  .gitlab/ci/templates/deploy_image_via_compose.yml
  backend/Dockerfile
  docker-compose-prod.yml
  frontend/Dockerfile
  frontend/default.conf
Due: build-backend, sonarqube-backend-sast, telegram-notification-backend, build-frontend, sonarqube-frontend-sast, telegram-notification-frontend

Берем статику из нашего s3
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend/src/main/resources/db/migration/V004__update_product_picture_url.sql
Due: build-backend, sonarqube-backend-sast, telegram-notification-backend

Добавлен деплой minio на сервер
  .gitlab-ci.yml
  .gitlab/ci/minio.gitlab-ci.yml
  docker-compose-prod.yml
  minio/README.md
  minio/rclone.conf
Due: none

Добавил создание конкретного uid для юзера
  backend/Dockerfile
Due: build-backend, sonarqube-backend-sast, telegram-notification-backend

Пробуем взять пароль к БД из vault
  .gitlab/ci/backend.gitlab-ci.yml
Due: none

Добавляем изменение для запуска деплоя
  backend/sausage-backend@.service
Due: build-backend, sonarqube-backend-sast, telegram-notification-backend

Перенес id_tokens
  .gitlab/ci/backend.gitlab-ci.yml
Due: none

Перенес получение секрета
  .gitlab/ci/backend.gitlab-ci.yml
Due: none

Убрал id_tokens
  .gitlab/ci/backend.gitlab-ci.yml
Due: none

Убрал token директиву
  .gitlab/ci/backend.gitlab-ci.yml
Due: none

Поменял название выводимого секрета
  .gitlab/ci/backend.gitlab-ci.yml
Due: none

Тестим получение пароля из ваулт
  .gitlab/ci/templates/deploy_image_via_compose.yml
Due: none

Обернул токен в base64 для просмотра
  .gitlab/ci/templates/deploy_image_via_compose.yml
Due: none

Делаем передачу переменных не нативно, а через наш костыль с передачей переменных между джобами :)
  .gitlab/ci/backend.gitlab-ci.yml
  .gitlab/ci/templates/deploy_image_via_compose.yml
Due: none

Фикс имени файла
  .gitlab/ci/backend.gitlab-ci.yml
Due: none

Фикс переменной
  .gitlab/ci/backend.gitlab-ci.yml
Due: none

Фикс имени переменной в Vault
  .gitlab/ci/backend.gitlab-ci.yml
Due: none

Полноценная интеграция Vault
  .gitlab/ci/backend.gitlab-ci.yml
  docker-compose-prod.yml
Due: none

Фикс шага деплоя minio
  .gitlab-ci.yml
Due: none

Extracted reports to the new microservice
  backend-report/Dockerfile
  backend-report/README.md
  backend-report/app/handlers/health.handler.go
  backend-report/app/models/health.model.go
  backend-report/app/repositories/report/report.repository.go
  backend-report/app/services/health/health.service.go
  backend-report/app/services/health/health.service_test.go
  backend-report/app/services/report/report.service.go
  backend-report/config/config.go
  backend-report/docs/docs.go
  backend-report/go.mod
  backend-report/go.sum
  backend-report/main.go
  backend-report/routes/api.go
  backend-report/utility/common.go
  backend-report/utility/errors.go
  backend-report/utility/handler.go
  backend/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/test/java/com/yandex/practicum/devops/task/ReportGeneratorTaskTest.java
Due: build-backend, sonarqube-backend-sast, telegram-notification-backend

Добавлен деплой backend-report микросервиса
  .gitlab-ci.yml
  .gitlab/ci/backend-report.gitlab-ci.yml
  .gitlab/ci/backend.gitlab-ci.yml
  .gitlab/ci/templates/telegram-notification.yml
  backend-report/Dockerfile
  backend/sausage-backend@.service
  docker-compose-prod.yml
Due: build-backend, sonarqube-backend-sast, telegram-notification-backend

Добавляем механизм масштабирования бэка и балансировки
  docker-compose-prod.yml
  frontend/Dockerfile
  frontend/default.conf
  frontend/nginx.tmpl
Due: build-frontend, sonarqube-frontend-sast, telegram-notification-frontend

Добавил blue-green деплой бэка
  .gitlab/ci/backend.gitlab-ci.yml
  .gitlab/deployScripts/backend_blue_green_deploy.sh
  backend/Dockerfile
  backend/pom.xml
  docker-compose-prod.yml
Due: build-backend, sonarqube-backend-sast, telegram-notification-backend

Path conditions:
  build-backend: any of: backend/**/*
  sonarqube-backend-sast: any of: backend/**/*
  telegram-notification-backend: any of: backend/**/*
  build-frontend: any of: frontend/**/*
  sonarqube-frontend-sast: any of: frontend/**/*
  telegram-notification-frontend: any of: frontend/**/*
